.PokeList__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: 15px;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
}

.PokeList__item{
    list-style: none;
    width: 150px;
    height: 200px;
    background-color: rgb(218, 218, 218);
    text-transform: capitalize;
    border-radius: 10px;
}